* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(17, 17, 66);
  }

  nav ul {
    display: flex;
    justify-content: center;
  }

  nav ul li {
    list-style: none;
    margin: 30px;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
  }

  nav ul li a:hover {
    font-size: 1.5rem;
    color: blueviolet;
  }

  .left {
    font-size: 1.5rem;
  }
main h1{
  margin-top: 20px;
  margin-left: 60px;
}
  .firstsection {
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 20px 34px;
  }

  .firstsection>div {
    width: 50%;
  }
  main .firstsection .experience{
    margin-left: 30px;
  }
.leftsection{
  background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
  
}
.leftsection h2 {
  color: #333;
}

.position {
  font-weight: bold;
  color: #555;
}

.duration {
  margin-top: 5px;
  color: #777;
}

.leftsection ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #444;
}
  .rightsection img {
    width: 86%;
    border-radius: 50px;
    /*margin:40px 0px;*/
  }

  .blue {
    color: blueviolet;
  }

  #element {
    color: blueviolet;
  }

 
  header hr {
    border: 0;
    height: 5px;
    background-color: blueviolet;
  }

 
  .text-gray {
    color: gray;
  }

  
  .footer-flex {
    display: flex;
    justify-content: space-evenly;
    padding-top:25px;
    font-size: 13px;
  }
  footer{
    height: 35vh;
    background-color: rgb(21, 21, 56);
    margin-top:180px;
  }
  .footer-flex > div {
    width:150px;
  }
   footer ul{
    list-style: none;
  }
  .footer4{
    text-align: center;
    padding: 30px 0px;
    font-size: 11px;
    color:gray;
}